@model IEnumerable<Yarmoolka.Models.YarmoolkaClass>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@if (User.IsInRole("Admin"))
{
<p>
    @*<a asp-action="Create">Create New</a>*@
    <button type="button" id="Create" class="btn btn-primary">Create New</button>
    @*<asp:LinkButton ID="Create" CssClass="btn btn-default btn-lg" runat="server" text="Create New" OnClick="Create" >
        <span class="glyphicon glyphicon-cog"></span>
    </asp:LinkButton>*@

</p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Style)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierId)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Style)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YarmoolkaSupplier.Name)
            </td>
         <td>
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |

                    @if (User.IsInRole("Admin"))
                    {
                        <div>
                            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID"> Delete </a>
                        </div>
                    }
                </td>
        </tr>
        }
    </tbody>
</table>
